<launch>
	<group ns="turtlesim1">
	       <param name = "T" value = "5"/>
	       <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
	       <node pkg="rosbag" name="record" type="record" args="-O $(find turtle_hw)/src/turtle.bag -l 250 /turtlesim1/turtle1/cmd_vel"/>
	</group>
	<group ns="turtlesim2">
	       <node pkg="turtlesim" name="sim" type="turtlesim_node"/>
	</group>
</launch>
